#header .logo {
    width: 490px;
    margin: 0 auto;
    z-index: 10;
    position: relative;
}
.nav-item{
    background-repeat: no-repeat;
}
#nav-banner{
    background-image: url(../img/hajime-ippo-bg.jpg);
    width: 100vw;
    height: 720px;
    background-repeat: no-repeat;
}
#nav-banner ul{
    float: right;
    list-style-type: none;
    padding-inline-start: 0;
    padding-right:50px;
    padding-top: 50px;
}
