*{
    margin:0;
    padding:0;
}

.top-half-header{
   height: 50vh;
   background-color: rgb(105, 86, 190);
   position: relative;
}
.profile {
    width: 50%;
    text-align: center;
    margin:auto;
}

.section-header{
    margin-bottom: 10px;
}
.section-content{
    padding: 10px;
}
@media only screen and (max-width: 425px) {
    header{
        height:100vh;
    }
    .logo{
        position: absolute;
        top: 30%;
        left: 30%;
        width: 40%;
    }
}
@media only screen and (max-width: 1000px) {
    header{
        height:60vh;
    }
    .logo{
        position: absolute;
        top: 15%;
        left: 30%;
        width: 40%;
    }

}
@media only screen and (min-width: 1001px) {
    header{
        height:80vh;
    }
    .logo{
        position: absolute;
        top: 35%;
        left: 35%;
        width: 30%;
    }

}