.grid-container{
    display:grid;
    grid-template-columns: auto auto;
    grid-column-gap: 25px;
    grid-row-gap: 25px;

}
.img-logo{
    width:400px;
}
.nav-list{
    width:50%;
    margin:auto;
}
.nav-list li{
    width:25%;
    float: left;
}